body{
        background-image: url("../../../background2.jpg");
        background-position: center;
        background-size: cover;
        font-size: 20px;
        color: rgb(24, 25, 23);
        
}
.loginContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
    
}
a{
    color: rgb(5, 0, 0);
    text-decoration: underline;
    
}
.loginContainer{
    font-weight: bold;
}